[fakeData]
username = jdoe85
uid = jdoe85
user = jdoe85
firstName = John
fName = John
lastName = Doe
lName = Doe
name = John Doe
fullName = John Doe
compname = Company Inc.
company = Company Inc.
compphone = 1234567890
company_phone = 1234567890
middleInitial = A
dateOfBirthF = 01/01/1990
password = pAssw0rd
pass = pAssw0rd
paword = pAssw0rd
passwd = pAssw0rd
email_pwd = pAssw0rd
email_pwd2 = pAssw0rd
pwd = pAssw0rd
email = jdoe85@email.com
phone = 1234567890
phoneCountryCode = 1
countryCode = 1
country = USA
ssn = 123456789
tin = 123456789
dl = 123456789012345678
account_number = 1234567890
account = 1234567890
routing_number = 123456789
routing = 123456789
ein = 123456789
efin = 123456789
passcode = 1234
pin = 1234
dldate = 01/2020
address = 123 W. 81st St.
address1 = 123 W. 81st St.
address2 = 
street = 123 W. 81st St.
city = New York
state = NY
zipCode = 12345
zip = 12345